.main {
    padding-bottom: 7em;
}

.movie-section {
    margin-top: 5.5em;
}

.movie-section, .second-movie {
    padding: .55em;
}

@media (min-width: 900px) {
    .movie-section, .second-movie {
        width: 78%;
        margin-inline: auto;
        position: relative;
        left: 3em;
    }

    .second-movie {
        margin-top: 2em;
    }

    

    .movie-section, .second-movie {
        width: 78%;
    }

}

.divider-sterkinekor-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.movies-unordered-list {
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow: auto;
    box-shadow: inset 1px 1px 3px 2px black, inset -2px -2px 1px 0 hsla(0, 0%, 100%, 0.315);
    padding: .8em;
    border-radius: 10px;
}

.second-movies-unordered-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .4em;
}

.second-movies-unordered-list > li, .second-movies-unordered-list > li a,
.movies-unordered-list > li, .movies-unordered-list > li a {
    flex: 0 0 auto;
}

.movies-unordered-list > li, .movies-unordered-list > li a {
    width: 390px;
}

.second-movies-unordered-list > li, .second-movies-unordered-list > li a {
    width: 165px;
}

@media (min-width: 900px) {
    .movies-unordered-list > li, .movies-unordered-list > li a {
        width: 700px;
    }
}

.heading {
    margin-top: .8em;
    margin-bottom: 1em;
}

.movie-images {
    border-radius: 20px;
}

.space {
    padding-bottom: 6em;
}

/* ================= Movie websites ============================== */

.hero {
    margin-top: 5em;
}

.hero, .movie-cast, .age-bracket-cast, 
.showing-times, .movie-synopsis {
    padding: 1em;
}

.movie-cast {
    box-shadow: inset 1px 1px 4px 1px black, inset -1px -1px 2px 0 hsla(0, 0%, 100%, 0.301);
    margin-bottom: 2em;
    margin-top: 2em;
    border-radius: 20px;
}

.poster-border {
    border-radius: 10px;
}

.cast-section__heading, .synopsis-section__heading {
    margin-bottom: .5em;
}

.cast__profile-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.cast__unordered-list {
    padding-top: .5em;
    padding-bottom: .5em;
    display: flex;
    gap: 2em;
    overflow: auto;
}

.cast-unordered__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 900px) {
    .hero, .movie-cast, 
    .age-bracket-cast, .showing-times, 
    .movie-synopsis {
        width: 78%;
        margin-inline: auto;
        position: relative;
        left: 3em;
    }
}


